PORT=3000
ALLOWED_ORIGINS=http://localhost:5500,https://kamsmartsystems.pl,https://www.kamsmartsystems.pl
SMTP_HOST=poczta2640486.home.pl
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=kontakt@kamsmartsystems.pl
SMTP_PASS=UZUPELNIJ_TYLKO_LOKALNIE_LUB_W_HEROKU
MAIL_TO=kontakt@kamsmartsystems.pl
